@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Global Styles */

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin: 0;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 32px;
}
h5 {
  font-size: 24px;
}

h6 {
  font-size: 16px;
}

/* Navbar */
.navbar {
  padding: 0 20px;
  border-radius: 10px;
  margin: 10px 0 10px 0;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-brand img {
  width: auto;
  height: 45px;
}

/* HEADER EXPANDABLE SECTION  */

.container-expandable {
  display: flex;
  /* width:90vw; */
}

.expandable {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 85vh;
  border-radius: 10px;
  flex: 0.5;
  position: relative;
  transition: flex 0.5s ease-in;
  color: #fff;
  cursor: pointer;
  margin: 5px;
}

.expandable.active {
  flex: 5;
}

.expanded-desc {
  display: none;
  position: relative;
  top: 25%;
  opacity: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  transition: display 0.1s ease-in 0.1s;
}

.expanded-desc.active {
  display: grid;
  opacity: 1;
  transition: display 0.4s ease-in 0.4s;
  transition: opacity 0.4s ease-in 0.4s;
}

.btn-ctn {
  width: auto;
  padding: 10px;
}

/* HEADER EXPANDABLE SECTION  */

/* Hero Section */
.hero-section {
  background: url("images/hero-bg.jpg") no-repeat center center/cover;
  color: white;
  padding: 150px 0;
}

.hero-section h1 {
  font-size: 3.5rem;
}

.hero-section p {
  font-size: 1.25rem;
  margin-bottom: 30px;
}

/* Cards Section */
.expandable-card {
  border-radius: 10px;
  overflow: hidden;
}

.expandable-card img {
  height: 250px;
  object-fit: cover;
}

.expandable-card .card-body {
  position: relative;
}

.expandable-card .expanded-content {
  margin-top: 10px;
  display: none;
}

/* SECTION TWO  */

.services-ctn {
  display: flex;
}

.service-section {
  padding: 0 40px;
  margin: 40px 0 0px 0;
}

.industries-we-serve.active {
  margin: 20px 0 20px 0px;
  padding: 0;
  display: block;
  position: relative;
  transition: display 0.5s ease-in;
  animation: slideIn 2s forwards, slideOut 2s 5s forwards;
}

.industries-we-serve {
  margin: 20px 0 20px 0px;
  padding: 0;
  display: none;
  position: relative;
  transition: display 0.5s ease-in;
}

.industries-service-title {
  margin-bottom: 40px;
}

.hero-banner__content__author {
  display: flex;
  position: relative;
  margin-left: 30px;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  top: 2px;
}

.hero-banner__content__author img {
  width: 50px !important;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #fff;
  margin-right: -15px;
}

.industries-details {
  display: flex;
  align-content: space-between;
  /* width: 80%; */
  flex-wrap: wrap;
  font-family: "Montserrat", sans-serif;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.heading-title {
  font-size: 48px;
}

.expand-sm-card {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 53vh;
  border-radius: 10px;
  flex: 0.5;
  position: relative;
  transition: flex 0.5s ease-in;
  color: #fff;
  cursor: pointer;
  margin: 5px;
  overflow: hidden;
}

.expand-sm-card.active {
  flex: 5;
}

.expand-sm-details {
  display: block;
  position: relative;
  top: 35%;
  opacity: 1;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: display 0.1s ease-in 0.1s;
  rotate: 90deg;
}

.expand-sm-details.active {
  display: grid;
  opacity: 1;
  transition: display 0.4s ease-in 0.4s;
  transition: opacity 0.4s ease-in 0.4s;
  /* rotate: 90deg; */
}

.expand-sm-card img {
  height: 250px;
  object-fit: cover;
}

.expand-sm-card .card-body {
  position: relative;
}

.expand-sm-card .expanded-content {
  margin-top: 10px;
  display: none;
}

/* SECTION TWO  */

/* SECTION THREE */

.about-section {
  margin: 40px 0;
  padding: 0 45px;
  border-radius: 15px;
}

.about-section-ctn {
  margin: 20px 0 20px 0px;
  background: #fff9e4;
  border-radius: 15px;
}
.about-info {
  padding: 30px;
}

.about-info p {
  padding: 5px;
}

.about-title-ctn {
  padding-top: 30px;
}

.about-card-ctn {
  display: grid;
  /* flex-wrap: nowrap; */
  width: 50%;
}

.about-card {
  background: #dae5f3;
  border-radius: 10px;
  margin: 10px 15px 0 0;
}
.about-card h5 {
  padding: 20px 30px;
  text-align: left;
}

.about-card p {
  padding: 0px 30px;
  text-align: left;
}

.about-card p,
.about-card h5 {
  font-size: 14px;
}

.about-img-ctn {
  width: 50%;
}
.slick-current,
.about-img img {
  height: 500px;
  margin: 10px;
  border-radius: 30px;
}
/* SECTION THREE */

/* SLICK SLIDER NEXT AND PREVIOUS  */
.slick-prev:before,
.slick-next:before {
  display: none;
}

.slick-dotted.slick-slider {
  margin-bottom: 0 !important;
}

.slick-dots li {
  display: none !important;
}

/* SLICK SLIDER NEXT AND PREVIOUS  */

/* FOURTH SECTION  */

.brands-section {
  margin: 40px 0;
  padding: 0 45px;
  border-radius: 15px;
}

.brands-container {
  display: flex;
}

.brand-card-img {
  padding: 10px;
  border-radius: 3px;
  border: 0.1px solid;
  display: inline-block;
  margin: 0 40px;
}

.brand-card-img img {
  width: 100%;
  height: 60px;
}
/* FOURTH SECTION  */

/* FIFIH SECTION  */
.section-cta {
  margin: 40px 0;
  padding: 0 45px;
  background: linear-gradient(72deg, #fff8dd, #ffffffbd),
    url(../images/home_sliders/hotspot-map.png);
}

.section-cta-content {
  margin: 20px 0 20px 0px;
}

.section-cta-content img {
  width: 100%;
  height: 480px;
  border-radius: 5px;
}

/* .youtube-play-button {
  display: grid;
  position: relative;
  bottom: 30px;
  height: 400px;
  width: 400px;
  background: #edc703;
  border-radius: 50%;
  z-index: 99;
} */




.youtube-play-button {
  display: grid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  background: #edc703;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.youtube-play-button:hover {
  background-color: #f9f9f9;
}

.youtube-play-button i {
  font-size: 24px;
  color: #333;
  text-align: center;
  position: absolute;
  left: 27%;
  top: 27%;
}

.youtube-play-button i svg {
  width: 50px;
  height: 50px;
}

/* Add this to center the button */
.section-cta-content {
  position: relative;
}
/* FIFIH SECTION  */
/* Footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

@media screen and (max-width: 360px) {
  /* Utility classes  */
  .btn-aviot-dark {
    padding: 15px 25px;
  }

  /* Expandable image slider for home page  */

  .container-expandable {
    margin: 10px 0;
  }

  .expandable {
    margin: 1px;
    flex: 0.1;
  }

  .expanded-desc {
    top: 10%;
    opacity: 0 !important;
    display: none;
    transition: display 0.4s ease-in 0.4s;
  }

  .expanded-desc.active {
    display: block;
    opacity: 1 !important;
    transition: display 0.4s ease-in 0.4s;
    transition: opacity 0.4s ease-in 0.4s;
  }

  .expand-sm-details h3 {
    font-size: 18px;
  }

  /* SECTION TWO  */

  .service-section {
    padding: 0 10px;
    margin: 40px 0 0px 0;
  }

  .services-ctn {
    margin: -50px 0 0 0;
    text-align: center;
  }

  .industries-service-title h2 {
    font-size: 28px;
  }

  .industries-details {
    flex-wrap: nowrap;
  }

  .heading-title {
    font-size: 38px;
  }
  /* SECTION TWO  */
  /* Expandable image slider for home page  */

  /* SECTION THREE  */
  .about-section {
    margin: 0px 0;
    padding: 0 0px;
  }

  .about-info {
    padding: 5px;
    text-align: center;
  }

  .about-card-ctn,
  .about-img-ctn {
    width: 100%;
  }

  .about-card {
    margin: 10px 10px;
  }

  .about-img {
    margin: 0 0;
    display: flex;
  }

  .about-img img {
    height: 400px;
    width: 100%;
    border-radius: 10px;
  }
  /* SECTION THREE  */

  /* FOURTH SECTION  */

  .brands-section {
    padding: 0 5px;
  }

  .brand-card-img {
    margin: 0 3px;
  }

  /* FOURTH SECTION  */

  /* FIFTH SECTION  */

  .section-cta {
    padding: 0 5px;
  }

  .section-cta-content img {
    height: 280px;
}

  /* FIFTH SECTION  */




}

@media screen and (min-width: 361px) and (max-width: 412px) {
   /* Utility classes  */
   .btn-aviot-dark {
    padding: 15px 25px;
  }

  /* Expandable image slider for home page  */

  .container-expandable {
    margin: 10px 0;
  }

  .expandable {
    margin: 1px;
    flex: 0.1;
  }

  .expanded-desc {
    top: 10%;
    opacity: 0 !important;
    display: none;
    transition: display 0.4s ease-in 0.4s;
  }

  .expanded-desc.active {
    display: block;
    opacity: 1 !important;
    transition: display 0.4s ease-in 0.4s;
    transition: opacity 0.4s ease-in 0.4s;
  }

  .expand-sm-details h3 {
    font-size: 18px;
  }

  /* SECTION TWO  */

  .service-section {
    padding: 0 10px;
    margin: 40px 0 0px 0;
  }

  .services-ctn {
    margin: -50px 0 0 0;
    text-align: center;
  }

  .industries-service-title h2 {
    font-size: 28px;
  }

  .industries-details {
    flex-wrap: nowrap;
  }

  .heading-title {
    font-size: 38px;
  }
  /* SECTION TWO  */
  /* Expandable image slider for home page  */

  /* SECTION THREE  */
  .about-section {
    margin: 0px 0;
    padding: 0 0px;
  }

  .about-info {
    padding: 5px;
    text-align: center;
  }

  .about-card-ctn,
  .about-img-ctn {
    width: 100%;
  }

  .about-card {
    margin: 10px 10px;
  }

  .about-img {
    margin: 0 0;
    display: flex;
  }

  .about-img img {
    height: 400px;
    width: 100%;
    border-radius: 10px;
  }
  /* SECTION THREE  */

  /* FOURTH SECTION  */

  .brands-section {
    padding: 0 5px;
  }

  .brand-card-img {
    margin: 0 3px;
  }

  /* FOURTH SECTION  */

  /* FIFTH SECTION  */

  .section-cta {
    padding: 0 5px;
  }

  .section-cta-content img {
    height: 280px;
}

  /* FIFTH SECTION  */


}

@media screen and (min-width: 413px) and (max-width: 575px) {
  /* Utility classes  */
  .btn-aviot-dark {
    padding: 15px 25px;
  }

  /* Expandable image slider for home page  */

  .container-expandable {
    margin: 10px 0;
  }

  .expandable {
    margin: 1px;
    flex: 0.1;
  }

  .expanded-desc {
    top: 10%;
    opacity: 0 !important;
    display: none;
    transition: display 0.4s ease-in 0.4s;
  }

  .expanded-desc.active {
    display: block;
    opacity: 1 !important;
    transition: display 0.4s ease-in 0.4s;
    transition: opacity 0.4s ease-in 0.4s;
  }

  .expand-sm-details h3 {
    font-size: 18px;
  }

  /* SECTION TWO  */

  .service-section {
    padding: 0 10px;
    margin: 40px 0 0px 0;
  }

  .services-ctn {
    margin: -50px 0 0 0;
    text-align: center;
  }

  .industries-service-title h2 {
    font-size: 28px;
  }

  .industries-details {
    flex-wrap: nowrap;
  }

  .heading-title {
    font-size: 38px;
  }
  /* SECTION TWO  */
  /* Expandable image slider for home page  */

  /* SECTION THREE  */
  .about-section {
    margin: 0px 0;
    padding: 0 0px;
  }

  .about-info {
    padding: 5px;
    text-align: center;
  }

  .about-card-ctn,
  .about-img-ctn {
    width: 100%;
  }

  .about-card {
    margin: 10px 10px;
  }

  .about-img {
    margin: 0 0;
    display: flex;
  }

  .about-img img {
    height: 400px;
    width: 100%;
    border-radius: 10px;
  }
  /* SECTION THREE  */

  /* FOURTH SECTION  */

  .brands-section {
    padding: 0 5px;
  }

  .brand-card-img {
    margin: 0 3px;
  }

  /* FOURTH SECTION  */

  /* FIFTH SECTION  */

  .section-cta {
    padding: 0 5px;
  }

  .section-cta-content img {
    height: 280px;
}

  /* FIFTH SECTION  */



}

@media (min-width: 576px) and (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 992px) and (max-width: 1119px) {
}

@media (min-width: 1120px) and (max-width: 1399px) {
}

@media (min-width: 1400px) and (max-width: 1599px) {
}

@media (min-width: 1599px) and (max-width: 1700px) {
}
